

table {
  border: 1px solid black;
  width: 350px;
  height: 250px;
  background-color: #546783;
}

#calculatorSec{
  padding-left: 10px;
}


#display {
  border: 1px solid black;
  width: 200px;
  height: 20px;
  margin-left: 5px;
  padding-right: 10px;
  text-align: right;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: white;
  color: black;
}

tr, td {
  border: 1px solid black;
  width: 20px;
  height: 10px;
  text-align: center;
  background-color: white;

}

#calculatorHead{
   background-color: #546783;
   padding-top: 5px;
   color: white;
   
}

#btndeposit{
  background-color: #4ABA81;
  color: white;
}

#btnwithdraw{
  background-color: #FF7E70;
  color: white;
}





